# Monday, October 3, 2022 @2:00PM

## Strings

#changing the cell type to Markdown: Esc + M

In [2]:
name='Jessica'
name

'Jessica'

### Indexing

In [ ]:
#get the 1st character in name
#we use indexing operators--[]
name[0]

In [4]:
#getting the 4th character in name
name[3]

's'

In [6]:
#create a new string for name initial
name_int=name[0]
name_int

'J'

In [11]:
address='2356 South Monroe St, 97405'
address

'2356 South Monroe St, 97405'

In [12]:
#Len: a function that gives the length of a string
len(address)

27

### Slicing

In [13]:
# we can access (subset) sultiple chargacters using slicing
#get the thirds character up to (and including) 10th character
address[2:10]

'56 South'

In [14]:
# 6th character up to (not including) 9th character
address[5:8]

'Sou'

In [16]:
# get the first  5 characters
address[0:5]

'2356 '

In [17]:
address[:5]

'2356 '

In [18]:
# first 10 characters
address[0:10]

'2356 South'

In [19]:
#len gives me the length
len(address)

27

In [20]:
# Get the last character
address[26]

'5'

In [21]:
# get the last character -- using negative index
address[-1]

'5'

In [26]:
# get the last 5 characters
address[-5:]

'97405'

In [28]:
# this woudl exclude the last character
address[-5:-1]

'9740'

In [29]:
# get the 7th chracter from the last
address[-7]

','

In [30]:
# this will give back the whole string (same as typing the name)
address[:]

'2356 South Monroe St, 97405'

### String Methods

In [31]:
# a new string 
city='Eugene'
city

'Eugene'

In [33]:
# a method that makes everything lower case 
city.lower()

'eugene'

In [35]:
# a method that makes everything upper case 
city.upper()

'EUGENE'

In [36]:
address

'2356 South Monroe St, 97405'

In [37]:
# count function -- counts the number of sub-string in a string
#count '5's
address.count('5')

2

In [38]:
#
address.count('South')

1

In [40]:
#cout is case-sensitive
address.count('south')

0

## Lists

In [42]:
# we create lists using square brackets
# values (items) are seperated by commas
l1=[22,54,87,11,39]
l1

[22, 54, 87, 11, 39]

In [48]:
# lists can contain different types of values
l2=[25,'Hi',44.732,True,'Yes']
l2

[25, 'Hi', 44.732, True, 'Yes']

### subsetting lists

#we subset lists using indexes and indexing operator

In [49]:
#the first item in l2
l2[0]

25

In [51]:
# get the last 3 items from l2
l2[-3:]

[44.732, True, 'Yes']

In [63]:
#create another list
l3=[11,24,'Hi', 'False', False, [0,-34,'Bye'], 11.62]
l3

[11, 24, 'Hi', 'False', False, [0, -34, 'Bye'], 11.62]

In [54]:
len(l3)

7

In [64]:
# changing the first item in l3 to 200
l3[0]=200
l3

[200, 24, 'Hi', 'False', False, [0, -34, 'Bye'], 11.62]

In [65]:
#change the 3rd item from the end to ['a', 'b', True]
l3[-3]=['a', 'b', True]
l3

[200, 24, 'Hi', 'False', ['a', 'b', True], [0, -34, 'Bye'], 11.62]

In [66]:
# get the first two characters in the 3rd item from end
l3[-3][:2]

['a', 'b']

### Lists Methods

In [67]:
# a method  that adds an element to the end of our list
l3.append(True)
l3

[200, 24, 'Hi', 'False', ['a', 'b', True], [0, -34, 'Bye'], 11.62, True]

In [68]:
# a method that removes an element to the end of our list
#remove 'False'
l3.remove('False')
l3

[200, 24, 'Hi', ['a', 'b', True], [0, -34, 'Bye'], 11.62, True]

In [70]:
# remove the 4th element from l3
l3.remove(l3[3])
l3

[200, 24, 'Hi', [0, -34, 'Bye'], 11.62, True]

In [72]:
# define a new function that takes a list of numbers as input and adds up the first and last items in return
def Lsum(l):
    return l[0]+l[-1]

In [73]:
Lsum([12,44,56,9,0])

12

In [74]:
Lsum([-44,5,1,2,88,10])

-34

In [75]:
Lsum([4])

8

## Dictionaries

In [78]:
# curly brackes -- {}
# pairs of keys (index) and values
# key and value are seperated by -- :
# pairs are seperated by -- ,
d1={'a':'Oregon', 'b':'California', 22:100, 11:'Hi'}
d1

{'a': 'Oregon', 'b': 'California', 22: 100, 11: 'Hi'}

In [79]:
# get the value for key 'b'
d1['b']

'California'

In [80]:
# get the value for key 22
d1[22]

100

In [82]:
# change the value for key 22 to [100,50,10]
d1[22]=[100,50,10]
d1

{'a': 'Oregon', 'b': 'California', 22: [100, 50, 10], 11: 'Hi'}

In [83]:
#add a new element
# just use a new key and assign the value
d1['city']='Eugene'
d1

{'a': 'Oregon',
 'b': 'California',
 22: [100, 50, 10],
 11: 'Hi',
 'city': 'Eugene'}

In [84]:
len(d1)

5

In [85]:
# removing an element
del d1['b']
d1

{'a': 'Oregon', 22: [100, 50, 10], 11: 'Hi', 'city': 'Eugene'}