In [1]:
#Defining our first variable
#shortkey for running the code: shift+enter
num1=43

In [2]:
num1

43

In [7]:
#assigning a new value to var num1
num1=500

In [10]:
num1

500

In [8]:
#Python is case sensitive, Num1 is different from num1
Num1=250

In [15]:
#creating another variable --- a string var
#to create string variables we have to put the value inside either single or double quotations
name='Ryan'
name

'Ryan'

In [18]:
#Wether it is in single or double quotations, it doesnt matter. Also, still case senstive
name2="MAki"
name2

'MAki'

In [19]:
#var 1 is a string bc we put it in quotations
var1='356'
var1

'356'

In [20]:
#boolean var
test_pass=True
test_pass

True

In [21]:
test_pass='True'
test_pass

'True'

In [23]:
test_pass=False
test_pass

False

In [25]:
#define a float var
num3=23.87
num3

23.87

In [27]:
test_pass

False

In [28]:
#getting the type of the variable using the type function
type(test_pass)

bool

In [29]:
type(num3)

float

In [30]:
#we cannot start a var name with a number
4num=209

SyntaxError: invalid syntax (1867332573.py, line 2)

In [31]:
#you can start a name with an underscore
_acc_bal=75.87
type(_acc_bal)

float

In [32]:
#print function
print('Hello')

Hello

In [34]:
#print a var value
    #displays value without quotations
print(name2)

MAki

In [35]:
#when you put something in quotations, it will treat it just like the "Hello" above
print('name2')

name2

In [36]:
print('name3')

name3

In [37]:
#we have not yet defined name 3 so it gives us back an error saying its not defined
print(name3)

NameError: name 'name3' is not defined

In [38]:
name

'Ryan'

In [39]:
name2

'MAki'

In [40]:
#It will only give you back the 2nd output when trying to get both outputs in 
    #same cell unless you use print
name
name2

'MAki'

In [41]:
print(name)
print(name2)

Ryan
MAki

In [42]:
print('Hi, good afternoon')

Hi, good afternoon

In [43]:
_acc_bal

75.87

In [44]:
#doesn't work since different types of variables
print('your account balance is:'+_acc_bal)

TypeError: can only concatenate str (not "float") to str

In [45]:
str(_acc_bal)

'75.87'

In [46]:
print('your account balance is:'+_acc_bal)

TypeError: can only concatenate str (not "float") to str

In [47]:
#If we want to change _acc_bal to string, we have to assign a new value to it
#THIS IS NOT A GOOD IDEA TO PERMANENTLY CHANGE THE TYPE OF THE DATA
_acc_bal=str(_acc_bal)

In [51]:
#now that we have changed _acc_bal to a str, it will work
print('your account balance is: '+_acc_bal)

your account balance is: 75.87

In [53]:
#THIS WOULD HAVE BEEN MUCH MORE PROFESSIONAL
print('your account balance is: '+str(_acc_bal))

your account balance is: 75.87

In [55]:
#OR
print('your account balance is:',_acc_bal)

your account balance is: 75.87

In [60]:
print('Your account balance is',_acc_bal,'Sorry, you are broke!')

Your account balance is 75.87 Sorry, you are broke!

In [61]:
#####Sift+Tab gives you help for the function

#SOME OTHER BUILT-IN FUNCTIONS!!!!!!!
##Max Function
max(23,44,-98, 0,3)

44

In [62]:
##Min function
min(23,44,-98, 0,3)

-98

In [63]:
##rounding the number to the nearest integer
round(45.776)

46

In [64]:
#specifying the number of decimals in the output of the round function
round(45.776, 1)

45.8

In [65]:
round(max(34.732, 44, 62.346, 100.087),2)

100.09

In [66]:
2*32

64

In [67]:
2*32+100

164

In [68]:
2*(32+100)

264

In [69]:
###Creating new functions
#Define a function that takes 3 numbers and adds them up
def sum3num(a,b,c):
    d=a+b+c
    return d

In [70]:
sum3num(100,200,50)

350

In [72]:
def sum3num(x1,x2,x3):
    return x1+x2+x3

In [73]:
#define a function that takes 3 numbers, multiplies the first one by the summation 
    #of the last one
def func1(x,y,z):
    return x*(y+z)

In [74]:
func1(20,12,5)

340