In [19]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, validation_curve
from sklearn.svm import LinearSVC

# Midterm Data

## Reading the data / Getting Dummies

In [60]:
# reading the data
blood = pd.read_csv("blood_donation.csv")
blood.head(5)

,Age,Gender,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
0,42.0,Male,2,50,12500,98,1
1,27.0,Male,1,13,3250,28,1
2,34.0,Other,1,16,4000,35,1
3,NaN,Female,2,20,5000,45,1
4,47.0,Male,1,24,6000,77,0

In [94]:
# describing dataset
## use count row to tell if there are any missing values
blood.describe()

,Age,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
count,850.000000,861.000000,861.000000,861.000000,861.000000,861.000000
mean,44.011765,9.047619,5.695703,1420.905923,33.771196,0.337979
std,10.549557,7.707822,5.510062,1374.249771,23.144187,0.473296
min,16.000000,1.000000,1.000000,250.000000,2.000000,0.000000
25%,38.000000,3.000000,2.000000,500.000000,16.000000,0.000000
50%,45.000000,7.000000,4.000000,1150.000000,28.000000,0.000000
75%,52.000000,14.000000,7.000000,1850.000000,46.000000,1.000000
max,60.000000,74.000000,50.000000,12500.000000,98.000000,1.000000

In [98]:
# drop rows with missing (the default)
blood.dropna(axis=0, inplace=True)

In [99]:
x_blood.dtypes

Age                      object
Gender                   object
Recency                   int64
Frequency                 int64
TotalDonation             int64
TimeFromFirstDonation     int64
dtype: object

In [100]:
blood.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 860
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    850 non-null    float64
 1   Gender                 850 non-null    object
 2   Recency                850 non-null    int64
 3   Frequency              850 non-null    int64
 4   TotalDonation          850 non-null    int64
 5   TimeFromFirstDonation  850 non-null    int64
 6   Donated2020            850 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 53.1+ KB

In [101]:
# Create features and target sets
x_blood, y_blood = blood.iloc[:,:-1], blood["Donated2020"]
# Check our work
display(x_blood.head(3))
display(y_blood.head(3))

    Age Gender  Recency  Frequency  TotalDonation  TimeFromFirstDonation
0  42.0   Male        2         50          12500                     98
1  27.0   Male        1         13           3250                     28
2  34.0  Other        1         16           4000                     35

0    1
1    1
2    1
Name: Donated2020, dtype: int64

In [102]:
x_blood.dtypes

Age                      float64
Gender                    object
Recency                    int64
Frequency                  int64
TotalDonation              int64
TimeFromFirstDonation      int64
dtype: object

In [162]:
x_dummies = pd.get_dummies(x_blood)
x_dummies.head(10)

,Age,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Gender_Female,Gender_Male,Gender_Other
0,42.0,2,50,12500,98,0,1,0
1,27.0,1,13,3250,28,0,1,0
2,34.0,1,16,4000,35,0,0,1
4,47.0,1,24,6000,77,0,1,0
6,41.0,2,7,1750,14,0,0,1
7,57.0,1,12,3000,35,1,0,0
8,38.0,2,9,2250,22,1,0,0
9,44.0,5,46,11500,98,0,1,0
10,44.0,4,23,5750,58,1,0,0
11,55.0,1,3,750,4,0,1,0

In [117]:
# split data to train and test (80/20)
x_train, x_test, y_train, y_test = train_test_split(x_dummies, y_blood, test_size=.25, random_state=0)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(637, 8)
(213, 8)
(637,)
(213,)

## KNN Classifier

In [141]:
# define the model
knn_cls = KNeighborsClassifier(n_neighbors=1)

In [142]:
# fit (train) the model -- we pass both features and target sets
# we use fit() method to fit a model
knn_cls.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [143]:
# we evaluate our model's performance
# we use score() method
print("knn accuracy on train: {:.2%}".format(knn_cls.score(x_train, y_train)))
print("knn accuracy on test: {:.2%}".format(knn_cls.score(x_test, y_test)))

knn accuracy on train: 99.53%
knn accuracy on test: 85.45%

In [144]:
smpl = x_test.iloc[:4]
smpl

,Age,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Gender_Female,Gender_Male,Gender_Other
225,32.0,4,1,250,4,1,0,0
304,42.0,14,6,1500,34,1,0,0
252,45.0,11,8,2000,41,1,0,0
204,46.0,11,9,2250,38,0,1,0

In [145]:
# make predictions
# we use predict() method -- it only takes features
knn_cls.predict(smpl)

array([1, 1, 1, 0])

In [124]:
y_test.head(4)

225    1
304    0
252    1
204    0
Name: Donated2020, dtype: int64

## Cross Validation

In [159]:
# define the model
knn_cls_blood = KNeighborsClassifier(n_neighbors = 9)

In [160]:
# cross-validation
scores = cross_val_score(knn_cls_blood, x_dummies, y_blood, cv=6)
scores

array([0.76056338, 0.78169014, 0.79577465, 0.84507042, 0.93617021,
       0.97163121])

In [161]:
# the average test score on 6-folds
scores.mean()

0.8484833349981686

In [133]:
print('Average test accuracy in a 6-fold cross val is: {:.2%}'.format(scores.mean()))

Average test accuracy in a 6-fold cross val is: 83.56%

## DONT USE -- Logistic Regression

In [164]:
C_range = [.1, .5, 1, 10, 100, 200]

In [165]:
# validation_curve has two outputs:
## 1- scores on train 2- scores on tests
### the order is important
train_scores, test_scores = validation_curve(LogisticRegression(solver='liblinear'), x_dummies, y_blood, 
                                             param_name = 'C', param_range = C_range, cv = 6)

In [166]:
train_scores.round(4)

array([[0.8941, 0.8955, 0.8898, 0.8814, 0.8787, 0.8702],
       [0.9294, 0.9379, 0.9294, 0.9209, 0.9168, 0.9097],
       [0.9336, 0.9407, 0.9266, 0.9251, 0.9182, 0.9111],
       [0.9322, 0.9379, 0.9266, 0.9294, 0.9083, 0.9055],
       [0.928 , 0.9364, 0.9251, 0.928 , 0.9097, 0.9097],
       [0.928 , 0.935 , 0.928 , 0.928 , 0.9111, 0.9111]])

In [167]:
test_scores.round(4)

array([[0.8803, 0.7746, 0.8451, 0.8239, 0.9645, 0.9716],
       [0.8944, 0.8451, 0.9014, 0.9085, 0.9716, 1.    ],
       [0.8944, 0.8592, 0.9085, 0.9085, 0.9574, 1.    ],
       [0.8873, 0.8521, 0.9155, 0.9225, 0.9433, 1.    ],
       [0.8803, 0.8592, 0.9155, 0.9225, 0.9362, 1.    ],
       [0.8803, 0.8592, 0.9155, 0.9225, 0.9362, 1.    ]])

In [168]:
# axis = 1 calculates mean for each row
print('ave cross val scores on train:', train_scores.mean(axis = 1).round(4))

ave cross val scores on train: [0.8849 0.924  0.9259 0.9233 0.9228 0.9235]

In [169]:
# C=10 has the highest test score
print('ave cross val scores on test:', test_scores.mean(axis = 1).round(4))

ave cross val scores on test: [0.8767 0.9202 0.9213 0.9201 0.9189 0.9189]

In [170]:
C_range

[0.1, 0.5, 1, 10, 100, 200]

## Support Vector Machine

In [173]:
# define and fit (and transform) the scaler
scaler1 = MinMaxScaler()
x_blood_trns = scaler1.fit_transform(x_dummies)
x_blood_trns

array([[0.59090909, 0.01369863, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.25      , 0.        , 0.24489796, ..., 0.        , 1.        ,
        0.        ],
       [0.40909091, 0.        , 0.30612245, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.27272727, 0.12328767, 0.14285714, ..., 0.        , 1.        ,
        0.        ],
       [0.11363636, 0.09589041, 0.12244898, ..., 1.        , 0.        ,
        0.        ],
       [0.5       , 0.06849315, 0.14285714, ..., 1.        , 0.        ,
        0.        ]])

In [174]:
# Splitting to train and test (Default 75/25)
x_train1, x_test1, y_train1, y_test1 = train_test_split(x_blood_trns, y_blood, test_size=.2, random_state=0)

In [175]:
# define a LinearSVC(random_state=0)
svm1 = LinearSVC(random_state=0)
svm1.fit(x_train1, y_train1)

LinearSVC(random_state=0)

In [176]:
# Evaluate performance of the model
print('Linear SVC acc on train data: {:.2%}'.format(svm1.score(x_train1, y_train1)))
print('Linear SVC on test data: {:.2%}'.format(svm1.score(x_test1, y_test1)))

Linear SVC acc on train data: 92.65%
Linear SVC on test data: 91.76%

In [180]:
# Make predictions
b = [[42.0, 2, 30, 12500, 92, 1, 0, 0]]
b_trns=scaler1.transform(b)
b_trns

/Users/ryanmaki/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[0.59090909, 0.01369863, 0.59183673, 1.        , 0.9375    ,
        1.        , 0.        , 0.        ]])

In [181]:
# the correct prediction
svm1.predict(b_trns)

array([1])

In [182]:
# get the linear equation for the decision boundry
# intercept
svm1.intercept_.round(2)

array([2.19])

In [183]:
# Coef
svm1.coef_.round(2)

array([[-5.15, -1.94,  0.99,  1.05, -0.46,  0.76,  0.76,  0.67]])

## Controlling the COmplexity of SVM by Changing Peramter "C"

In [190]:
# validation_curve has two outputs:
## 1- scores on train 2- scores on tests
### the order is important
train_scores1, test_scores1 = validation_curve(LinearSVC(random_state=0, max_iter=100000), 
                                             x_blood_trns, y_blood, 
                                             param_name = 'C', 
                                             param_range=[.1, 1, 5, 10, 50, 100], 
                                             cv = 4)

In [191]:
train_scores1.round(4)

array([[0.9419, 0.9419, 0.9232, 0.9028],
       [0.9372, 0.9451, 0.9263, 0.8966],
       [0.9356, 0.9435, 0.9279, 0.8981],
       [0.9341, 0.9388, 0.9263, 0.8981],
       [0.9341, 0.9388, 0.9248, 0.8981],
       [0.9341, 0.9388, 0.9248, 0.8981]])

In [192]:
test_scores1.round(4)

array([[0.8826, 0.8685, 0.9434, 1.    ],
       [0.8873, 0.8873, 0.934 , 0.9953],
       [0.8779, 0.8873, 0.9292, 0.9953],
       [0.8732, 0.8826, 0.9245, 0.9953],
       [0.8732, 0.8826, 0.9245, 0.9906],
       [0.8732, 0.8826, 0.9245, 0.9906]])

In [193]:
print('average score in 4 folds')
print('training:', train_scores.mean(axis = 1).round(4))
print('test:', test_scores.mean(axis = 1).round(4))

average score in 4 folds
training: [0.8849 0.924  0.9259 0.9233 0.9228 0.9235]
test: [0.8767 0.9202 0.9213 0.9201 0.9189 0.9189]

In [194]:
# returns mean of all levels of C
train_scores.mean()

0.9174175938985528

# Other

In [148]:
# columns
blood.columns

Index(['Age', 'Gender', 'Recency', 'Frequency', 'TotalDonation',
       'TimeFromFirstDonation', 'Donated2020'],
      dtype='object')

In [149]:
# index
blood.index

Int64Index([  0,   1,   2,   4,   6,   7,   8,   9,  10,  11,
            ...
            851, 852, 853, 854, 855, 856, 857, 858, 859, 860],
           dtype='int64', length=850)

In [151]:
# values
blood.values

array([[42.0, 'Male', 2, ..., 12500, 98, 1],
       [27.0, 'Male', 1, ..., 3250, 28, 1],
       [34.0, 'Other', 1, ..., 4000, 35, 1],
       ...,
       [28.0, 'Male', 10, ..., 1700, 24, 1],
       [21.0, 'Female', 8, ..., 1550, 42, 1],
       [38.0, 'Female', 6, ..., 2000, 11, 1]], dtype=object)

In [154]:
blood1 = blood.copy()

In [156]:
# Sorting df by prenganices
blood2 = blood1.sort_values(by=['Age'])
blood2

,Age,Gender,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
763,16.0,Female,7,7,1600,46,1
797,17.0,Male,7,7,1500,43,1
793,17.0,Male,4,6,1650,47,1
822,17.0,Female,8,5,1300,36,1
821,17.0,Male,1,6,1550,50,1
...,...,...,...,...,...,...,...
43,60.0,Male,2,5,1250,16,0
445,60.0,Male,21,3,750,35,0
79,60.0,Male,2,2,500,4,0
429,60.0,Female,16,3,750,40,0
133,60.0,Male,4,6,1500,35,0

In [157]:
blood1.sort_values(by=["Age", "Gender"])

,Age,Gender,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
763,16.0,Female,7,7,1600,46,1
795,17.0,Female,8,3,1000,33,1
822,17.0,Female,8,5,1300,36,1
782,17.0,Male,3,9,1900,34,1
793,17.0,Male,4,6,1650,47,1
...,...,...,...,...,...,...,...
445,60.0,Male,21,3,750,35,0
448,60.0,Male,23,8,2000,64,0
525,60.0,Male,2,4,1000,11,0
578,60.0,Male,11,5,1250,18,0
638,60.0,Male,11,4,1000,27,0

In [158]:
blood.sort_values(by=["Age", "TotalDonation"],
               ascending = [False,True])

,Age,Gender,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
214,60.0,Male,4,1,250,4,0
378,60.0,Male,14,1,250,14,0
479,60.0,Female,23,1,250,23,0
736,60.0,Female,23,1,250,23,0
79,60.0,Male,2,2,500,4,0
...,...,...,...,...,...,...,...
797,17.0,Male,7,7,1500,43,1
821,17.0,Male,1,6,1550,50,1
793,17.0,Male,4,6,1650,47,1
782,17.0,Male,3,9,1900,34,1
763,16.0,Female,7,7,1600,46,1

In [146]:
# group 1 of customers: default is 1
blood[blood['Donated2020']==1].describe().round(2)

,Age,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
count,288.00,288.00,288.00,288.0,288.00,288.0
mean,32.42,5.69,7.40,1840.8,31.84,1.0
std,7.60,4.45,6.41,1595.3,19.93,0.0
min,16.00,1.00,1.00,250.0,2.00,1.0
25%,27.00,2.00,4.00,1050.0,16.00,1.0
50%,33.00,4.00,6.00,1500.0,30.00,1.0
75%,38.00,8.00,9.00,2150.0,42.00,1.0
max,45.00,26.00,50.00,12500.0,98.00,1.0

In [147]:
# group 2 of customers: default is 0
blood[blood['Donated2020']==0].describe().round(2)

,Age,Recency,Frequency,TotalDonation,TimeFromFirstDonation,Donated2020
count,562.00,562.00,562.00,562.00,562.00,562.0
mean,49.95,10.89,4.76,1189.95,34.69,0.0
std,5.88,8.43,4.74,1185.11,24.61,0.0
min,40.00,1.00,1.00,250.00,2.00,0.0
25%,45.00,4.00,2.00,500.00,16.00,0.0
50%,50.00,11.00,3.00,750.00,28.00,0.0
75%,55.00,16.00,6.00,1500.00,51.75,0.0
max,60.00,74.00,44.00,11000.00,98.00,0.0