In [1]:
import pandas as pd

# K-NN Classifier

In [2]:
# reading the data- phishing websites
web = pd.read_csv("Phishing_websites-1.csv")
web.head(2)

   Age_of_web  num_of_dots_inURL  Phishing
0           1                  5         1
1           5                  6         1

In [5]:
#### Steps:
# we need to know the problem
# we read the data
# creating features in target sets
# import the machine learning algorithim (class)
# define the model (specifying our model's parameters values)
# fit (train) the model
# evaluate the performance of our model
# use the model to make predictions for new unseen data

In [16]:
#creating features and target sets
# first two columns are our features
# "Phishung" is the target var
x_web = web.iloc[:, :2]
y_web = web['Phishing']     # for target set, we want it 1-dim
# checking our work
x_web.head(2)

   Age_of_web  num_of_dots_inURL
0           1                  5
1           5                  6

In [17]:
# checking our work
y_web.head(2)

0    1
1    1
Name: Phishing, dtype: int64

In [18]:
# importing the algorithm
from sklearn.neighbors import KNeighborsClassifier

In [19]:
# define the model
knn_cls = KNeighborsClassifier(n_neighbors=3)

In [20]:
# fit (train) the model -- we pass both features and target sets
# we use fit() method to fit a model
knn_cls.fit(x_web, y_web)

KNeighborsClassifier(n_neighbors=3)

In [21]:
# we evaluate our model's performance
# we use score() method
knn_cls.score(x_web, y_web)

0.95

In [22]:
# make predictions
# we use predict() method -- it only takes features
w1 = [38, 2]
w2 = [4, 9]
w3 = [100, 3]
knn_cls.predict([w1, w2, w3])

/Users/ryanmaki/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([0, 1, 0])

In [26]:
x_web

    Age_of_web  num_of_dots_inURL
0            1                  5
1            5                  6
2            6                  6
3            2                  7
4            4                  5
5            1                  4
6            3                  7
7            4                  5
8            1                  4
9            4                  4
10          22                  4
11          11                  5
12          17                  1
13          14                  2
14          21                  1
15          20                  1
16          22                  5
17          13                  5
18          23                  4
19          20                  3

In [24]:
knn_cls.predict(x_web)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [25]:
y_web

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: Phishing, dtype: int64

# KNN Regressor

In [29]:
# reading the data
house1f = pd.read_csv('House_1feature-1.csv')
print(house1f.shape)
house1f.head(2)

(36, 2)

   Square_feet   Price
0         1349  147703
1          897  178239

In [42]:
# creating features and target sets
# we have only one feature (Square_feet), we want
# the feature set to be 2-dim
# target set shoudl be 1-dim
x_house = house1f[['Square_feet']]
y_house = house1f['Price']
# checking our work
display(x_house.head(1))
display(y_house.head(1))

   Square_feet
0         1349

0    147703
Name: Price, dtype: int64

In [43]:
# importing the algorithm
from sklearn.neighbors import KNeighborsRegressor

In [44]:
# define the model
knn_reg = KNeighborsRegressor(n_neighbors=3)

In [45]:
# fit (train) the model -- we pass both features and target sets into the model
# we use fit() method to fit a model
knn_reg.fit(x_house, y_house)

KNeighborsRegressor(n_neighbors=3)

In [48]:
# we evaluate our model's performance
# we have the score() method for regressors as well
# the output of score method in regression is R2
knn_reg.score(x_house, y_house).round(2)

0.86

In [50]:
# make predictions
# we use predict() method -- it only takes features
h1 = [1500]
h2 = [7000]
knn_reg.predict([h1, h2]).round(2)

/Users/ryanmaki/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([230502.  , 320258.67])

In [58]:
# how to avoid getting the warning
h=pd.DataFrame(data={'Square_feet':[1500,7000]})
h

   Square_feet
0         1500
1         7000

In [59]:
knn_reg.predict(h).round()

array([230502., 320259.])

# fair evaluation

## Breast Cancer Data

In [62]:
# reading the data
cancer = pd.read_csv("breast_cancer_data-1.csv", index_col=0)
cancer.head(3)

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
84300903,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [66]:
# creating features and target sets
# diagnosis is target, everything else is a feature
x_cancer = cancer.iloc[:,1:]
y_cancer = cancer['diagnosis']     # for target set, we want it 1-dim
# checking our work
display(x_cancer.head(2))
display(y_cancer.head(2))

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
id,,,,,,,,,,,,,,,,,,,,,
842302,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
842517,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902

id
842302    M
842517    M
Name: diagnosis, dtype: object

In [68]:
# partitioning the data to train and test
# we use train_test_split function
# import it first
from sklearn.model_selection import train_test_split

In [70]:
# partition to train and test
# the order is important
# imputs are features and target sets (and also random_state)
x_train, x_test, y_train, y_test = train_test_split(x_cancer, y_cancer, random_state=0)

In [72]:
# check our work
print('initial features set size:', x_cancer.shape)
print("x_train shape:", x_train.shape)
print("x_train shape:", x_test.shape)

print("y_train shape:", y_train.shape)
print("y_train shape:", y_test.shape)

initial features set size: (569, 30)
x_train shape: (426, 30)
x_train shape: (143, 30)
y_train shape: (426,)
y_train shape: (143,)